$mini-mobile: 440px;
$mobile: 768px;
$tablet:992px;
$desktop:1024px;

$mini-mobile-responsive: "(max-width: #{$mini-mobile})";
$mobile-responsive: "(max-width: #{$mobile})";
$tablet-responsive: "(min-width: #{$desktop})"; 
$desktop-responsive: "(min-width: #{$desktop})"; 