.omf-restaurantpage-header {
    @extend .omf-header;
    i {
        position: absolute;
        top: 38%;
        left: 5%;
        font-size: 22px;
    }
}

.omf-restaurantpage {
    &-header {
        a {
            color: black
        }
    }
    &-picture {
        width: 100%;
    }
}

.omf-restaurantpage-menu {
    overflow: hidden;
    margin-top: -70px;
    position: relative;
    z-index: 10;
    &-container {
        @extend .omf-container-grey;
        position: relative;
        border-radius: 30px 30px 0 0;
        padding: 40px 20px 0 20px;
        h2 {
            font-family: Shrikhand, Arial, Helvetica, sans-serif;
        }
    }
    &-heart {
        position: absolute;
        top: 45px;
        right: 30px;
        i {
            font-size: 28px;
        }
    }
    &-title {
        font-weight: 400;
        margin-bottom: 5px;
    }
    &-underline {
        width: 50px;
        height: 4px;
        background-color: rgb(168, 207, 168);
        margin-bottom: 15px;
    }
    &-card-container {
        @extend .omf-functionning-card-container;
        margin-bottom: 15px!important;
    }
    &-card {
        @extend .omf-functionning-card;
        right: 0!important;
        padding: 15px!important;
        white-space: nowrap;
        overflow: hidden;
        p {
            margin: 0 0 5px 0;
        }
        div {
            display: flex;
            justify-content: space-between;
        }
    }
    &-subtitle {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 77%;
    }
    &-order {
        @extend .omf-center-content;
    }
    &-footer {
        @extend .omf-footer;
    }
}

@media #{$desktop-responsive} {
    .omf-restaurantpage-picture {
        height: 530px;
        object-fit: cover;
    }
    .omf-restaurantpage-menu-container {
        max-width: 1220px;
        margin: auto;
    }
    .omf-restaurantpage-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .omf-restaurantpage-menu-item-container {
        display: flex;
        justify-content: space-between;
    }
    .omf-restaurantpage-menu-card-container {
        width: 100%!important;
    }
    .omf-restaurantpage-menu-footer > .omf-container {
        max-width: 1220px;
    }
}

@media #{$tablet-responsive} {
    .omf-restaurantpage-menu-card-container {
        width: 80%!important;
    }
}

@media #{$mobile-responsive} {
    .omf-restaurantpage-menu-card-container {
        width: 100%!important;
    }
}


