/* IMPORTS */
/*$mini-mobile-responsive: "(max-width: 440px)";
$mobile-responsive: "(max-width: 768px)";*/
@keyframes check-animation {
  from {
    margin-right: -85px;
  }
  to {
    margin-right: 0;
  }
}
@keyframes check-animation-out {
  from {
    margin-right: 0px;
  }
  to {
    margin-right: -85;
  }
}
@keyframes check-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes menu-appear {
  from {
    top: -25px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading-body {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.omf-restaurantpage-header i {
  position: absolute;
  top: 38%;
  left: 5%;
  font-size: 22px;
}

.omf-restaurantpage-header a {
  color: black;
}
.omf-restaurantpage-picture {
  width: 100%;
}

.omf-restaurantpage-menu {
  overflow: hidden;
  margin-top: -70px;
  position: relative;
  z-index: 10;
}
.omf-restaurantpage-menu-container {
  position: relative;
  border-radius: 30px 30px 0 0;
  padding: 40px 20px 0 20px;
}
.omf-restaurantpage-menu-container h2 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}
.omf-restaurantpage-menu-heart {
  position: absolute;
  top: 45px;
  right: 30px;
}
.omf-restaurantpage-menu-heart i {
  font-size: 30px;
}
.omf-restaurantpage-menu-title {
  font-weight: 400;
  margin-bottom: 5px;
}
.omf-restaurantpage-menu-underline {
  width: 50px;
  height: 4px;
  background-color: #a8cfa8;
  margin-bottom: 15px;
}
.omf-restaurantpage-menu-card-container {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  margin-bottom: 15px !important;
  display: flex;
  position: relative;
  overflow: hidden;
  opacity: 0;
  animation: menu-appear 1s;
  animation-fill-mode: both;
}
.omf-restaurantpage-menu-card-container:active .omf-restaurantpage-menu-animation {
  margin-right: 0px;
  transition: margin-right 1s;
}
.omf-restaurantpage-menu-card-container:active .omf-restaurantpage-menu-animation i {
  animation: check-rotate 1s ease;
}
.omf-restaurantpage-menu-card {
  width: 100%;
  position: relative;
  right: 0;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
}
.omf-restaurantpage-menu-card p {
  margin: 0 0 5px 0;
}
.omf-restaurantpage-menu-card div {
  display: flex;
  justify-content: space-between;
}
.omf-restaurantpage-menu-subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}
.omf-restaurantpage-menu-animation {
  background: #99E2D0;
  width: 90px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -85px;
  transition: margin-right 1s;
}
.omf-restaurantpage-menu-animation div {
  width: 27px;
  height: 27px;
  border-radius: 30px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.omf-restaurantpage-menu-animation div i {
  color: #99E2D0;
  font-size: 19px;
}

.animation-delay1 {
  animation-delay: 0s;
}
.animation-delay2 {
  animation-delay: 0.5s;
}
.animation-delay3 {
  animation-delay: 1s;
}
.animation-delay4 {
  animation-delay: 1.5s;
}

@media (min-width: 1024px) {
  .omf-restaurantpage-picture {
    height: 530px;
    object-fit: cover;
  }

  .omf-restaurantpage-menu-container {
    max-width: 1440px;
    margin: auto;
  }

  .omf-restaurantpage-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .omf-restaurantpage-menu-item-container {
    display: flex;
    justify-content: space-between;
  }

  .omf-restaurantpage-menu-card-container {
    width: 100% !important;
  }
  .omf-restaurantpage-menu-card-container:hover .omf-restaurantpage-menu-animation {
    margin-right: 0px;
    transition: margin-right 1s;
  }
  .omf-restaurantpage-menu-card-container:hover .omf-restaurantpage-menu-animation i {
    animation: check-rotate 1s ease;
  }

  .omf-restaurantpage-menu-size {
    width: 31%;
  }

  .omf-restaurantpage-menu-footer > .omf-container {
    max-width: 1220px;
  }

  .omf-restaurantpage-menu-animation {
    transition: margin-right 1s;
  }
}
.omf-header, .omf-position-container, .omf-restaurantpage-header {
  padding: 15px 0 15px 0;
}
.omf-header h1, .omf-position-container h1, .omf-restaurantpage-header h1 {
  text-align: center;
}

.omf-header-container {
  position: relative;
  z-index: 10;
}

.omf-container {
  max-width: 400px;
  margin: 20px auto 0 auto;
}
.omf-container h2 {
  padding-top: 30px;
}

.omf-container-grey, .omf-restaurantpage-menu-container {
  background-color: #f3f3f3;
  padding-bottom: 30px;
}

.omf-reserve-container {
  flex-direction: column;
  text-align: center;
  padding: 10px 45px 40px 45px;
  background: #f7f7f7;
}

.omf-functionning-number-container {
  background: #9356DC;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  margin: auto;
  display: flex;
  z-index: 10;
}

.omf-functionning-card-container {
  display: flex;
  margin-bottom: 30px;
}

.omf-restaurant-container {
  display: flex;
  flex-direction: column;
}
.omf-restaurant-container a {
  color: black;
  text-decoration: none;
}

.omf-footer, .omf-restaurantpage-menu-footer {
  background: #444444;
  padding: 5px 0 10px 0;
}

.omf-footer-text-container h3 {
  margin-top: 10px;
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  color: white;
}
.omf-footer-text-container ul {
  list-style-type: none;
  padding: 0;
}
.omf-footer-text-container li {
  margin-bottom: 5px;
}
.omf-footer-text-container a {
  color: #fff;
  text-decoration: none;
}

.omf-restaurant-title-container {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.omf-icon {
  margin-right: 15px;
}

.omf-reserve-button {
  padding: 15px;
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  margin-top: 25px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.omf-reserve-button:hover {
  background: linear-gradient(180deg, #ff93e1, #a16be0);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
}

.omf-functionning-number {
  margin: auto;
  color: #fff;
}

.omf-functionning-card {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.13);
  width: 100%;
  padding: 25px 0;
  border-radius: 20px;
  position: relative;
  right: 10px;
  background: #f3f3f3;
}
.omf-functionning-card:hover {
  background: #fff;
}
.omf-functionning-card i {
  margin-left: 40px;
}

.omf-restaurant-card {
  background: #fff;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  height: 280px;
  margin-bottom: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.13);
  position: relative;
}
.omf-restaurant-card h3 {
  margin: 15px 0 5px 10px;
}
.omf-restaurant-card span {
  margin: 0 0 15px 10px;
}

.omf-restaurant-picture {
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 204px;
  overflow: hidden;
}

.fa-hands-helping {
  width: 13px;
}

.omf-restaurant-new {
  display: flex;
  position: absolute;
  right: 20px;
  top: 15px;
  background: #a8cfa8;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}
.omf-restaurant-new span {
  margin: 0;
  font-weight: 700;
  color: #476947;
}

.omf-restaurant-heart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.omf-restaurant-heart i {
  font-size: 30px;
}

.omf-heart {
  position: absolute;
  right: 25px;
}
.omf-heart-bg {
  transition: background 0.7s, background-clip 0.7s, color 0.7s;
}
.omf-heart-bg:active {
  background: -webkit-linear-gradient(270deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 31px !important;
}
.omf-heart-display {
  opacity: 0;
}
.omf-heart-display:active {
  opacity: 1;
}

/* VARIABLES */
/* STYLE */
body {
  max-width: 1440px;
  margin: auto;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  margin: 0;
}

h2 {
  margin-top: 0;
}

.omf-container {
  max-width: 300px;
}

.omf-restaurant-container a {
  width: 100%;
}

.omf-restaurantpage-menu-card-container {
  width: 100%;
}

.omf-center-content, .omf-restaurantpage-menu-order, .omf-position-container, .omf-reserve-container {
  display: flex;
  justify-content: center;
}

.omf-shadow {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.omf-position {
  background-color: #ececec;
}

.omf-position-text {
  font-size: 19px;
  margin: 0;
}

.omf-reserve-paragraph {
  margin: 0 0 35px 0;
}

.omf-loading-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading-body 1.5s;
  animation-fill-mode: forwards;
}

.omf-loading {
  display: flex;
  justify-content: center;
}
.omf-loading--full-height {
  align-items: center;
  height: 100%;
}
.omf-loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: #9356DC;
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@media (min-width: 1024px) {
  .omf-container {
    max-width: 992px;
    margin: auto;
  }

  .omf-functionning-container {
    display: flex;
  }

  .omf-functionning-card-container {
    width: 33.33%;
  }

  .omf-restaurant-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .omf-restaurant-container > .omf-restaurant-card {
    width: 48%;
    margin-bottom: 40px;
  }

  .omf-restaurant-image-link {
    width: 100%;
    height: 203px;
  }
  .omf-restaurant-title-link {
    width: 100%;
  }

  .omf-heart-bg:hover {
    background: -webkit-linear-gradient(270deg, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 31px !important;
  }
  .omf-heart-display:hover {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
