.omf-header {
    padding: 15px 0 15px 0;
    h1 {
        text-align: center;
    }
}

.omf-header-container {
    position: relative;
    z-index: 10;
}

.omf-container {
    max-width: 400px;
    margin:  20px auto 0 auto;
    h2 {
        padding-top: 30px;
    }
}

.omf-container-grey {
    background-color: rgb(243, 243, 243);
    padding-bottom: 30px;
}

.omf-position-container {
    @extend .omf-header;
    @extend .omf-center-content;
}

.omf-reserve-container {
    @extend .omf-center-content;
    flex-direction: column;
    text-align: center;
    padding: 10px 45px 40px 45px;
    background: rgb(247, 247, 247);
}

.omf-functionning-number-container {
    background: #9356DC;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    margin: auto;
    display: flex;
    z-index: 10;
}

.omf-functionning-card-container {
    display: flex;
    margin-bottom: 30px;
}

.omf-restaurant-container {
    display: flex;
    flex-direction: column;
    a {
        color: black;
        text-decoration: none;
    }
}

.omf-footer {
    background: rgb(68, 68, 68);
    padding: 5px 0 10px 0;
}

.omf-footer-text-container {
    h3 {
        margin-top: 10px;
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
        color: white;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 5px;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

.omf-restaurant-title-container {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}